<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wxplus.opengles2forandroid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OpenGL_01_Color"/>
        <activity android:name=".OpenGL_02_Texture"/>
        <activity android:name=".OpenGL_03_Hockey"/>
        <activity android:name=".OpenGL_04_Cube"/>
        <activity android:name=".OpenGL_05_HeightMap"/>
    </application>

</manifest>